<h1>Please enter your position</h1>
<div class="form-group">
  <label for="latitude" class="mb-2">Enter latitude</label>
  <input
    required
    type="text"
    name="latitude"
    id="latitude"
    class="form-control mb-3"
  />
</div>
<div class="form-group">
  <label for="longitude" class="mb-2">Enter longitude</label>
  <input
    required
    type="text"
    name="longitude"
    id="longitude"
    class="form-control mb-3"
  />
</div>
<a href="/api/v1/stations" class="btn btn-secondary mt-3">Cancel</a>
<button type="submit" class="btn btn-primary mt-3">Apply</button>
