<div class="form-group">
  <label for="name" class="mb-2">Enter station name</label>
  <input required type="text" name="name" id="name" class="form-control mb-3" />
</div>
<a href="/api/v1/stations/" class="btn btn-secondary mt-3">Cancel</a>
<button type="submit" class="btn btn-primary mt-3">Apply</button>
